<section class="faq-content">
  <h2>FAQs</h2>

  <div class="faq-list">
    <div class="faq-item" *ngFor="let item of faqItems; let i = index">
      <div class="faq-question" (click)="toggleAccordion(i)">
        <h4>{{ item.question }}</h4>
        <span class="icon" [class.expanded]="item.expanded">
          {{ item.expanded ? '−' : '+' }}
        </span>
      </div>
      <div class="faq-answer" *ngIf="item.expanded">
        <p>{{ item.answer }}</p>
      </div>
    </div>
  </div>
</section>
