<p>home works!</p>
<header class="navbar">

    <!-- Logo -->
    <div class="logo-topo">
        <a href="#home">
            <img src="assets/img/logo-greenbank.svg" alt="GreenBank Logo">
        </a>
    </div>

    <!-- Menu -->
    <nav class="main-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#why-us" class="nav-link">Why Us</a>
            </li>
            <li class="nav-item">
                <a href="#services" class="nav-link">Services</a>
            </li>
            <li class="nav-item">
                <a href="#process" class="nav-link">Our Process</a>
            </li>
            <li class="nav-item">
                <a href="#payments" class="nav-link">Payments</a>
            </li>
            <li class="nav-item">
                <a href="#faqs" class="nav-link">FAQs</a>
            </li>
        </ul>
    </nav>

    <!-- CTA Button -->
    <button class="contact-button">
        <a href="https://nayaramarques.figma.site/" class="btn-contact">Contact</a>
    </button>

    <!-- Menu para mobile -->

    <button class="hamburger" >
        <span></span>
        <span></span>
        <span></span>

    </button>

    <nav class="main-navresponsive" id="menu">
        <button class="close-menu">✕</button>
        <ul class="nav-list">
            <li><a href="#why-us" class="nav-link">Why Us</a></li>
            <li><a href="#services" class="nav-link">Services</a></li>
            <li><a href="#process" class="nav-link">Our Process</a></li>
            <li><a href="#payments" class="nav-link">Payments</a></li>
            <li><a href="#faq" class="nav-link">FAQss</a></li>
        </ul>
    </nav>


</header>

<div class="container">

<section id="home" class="hero">

    <div class="hero_content">
        <h1 class="hero_title">Discover the Perfect Credit Card for You</h1>
        <p class="hero_description">Discover the power of our secure and rewarding credit cards. Explore our range of
            credit cards and take control of your finances today.</p>

        <button class="button_cta">
            Get Started
            <img src="assets/img/seta-branca.svg" alt="Arrow Right">
        </button>

        <div class="hero-stats">
            <img class="hero-stats__avatar" src="assets/img/avatares-icon.webp" alt="User avatars">
            <div class="hero-stats__info">
                <span class="hero-stats__number">10.2k+</span>
                <span class="hero-stats__label">Active users around the world</span>
            </div>
        </div>

    </div>

    <div class="hero__media">
        <img src="assets/img/cartao-banner.png" class="hero__image" alt="Credit Card">
    </div>

</section>

<section id="why-us" class="facts">

    <div class="fact">
        <span class="fact-number">16y</span>
        <span class="fact-text">Experience</span>
    </div>

    <div class="fact">
        <span class="fact-number">250+</span>
        <span class="fact-text">Merchant Partner</span>
    </div>

    <div class="fact">
        <span class="fact-number">18+</span>
        <span class="fact-text">Years Experience</span>
    </div>

    <div class="fact">
        <span class="fact-number">10.2k+</span>
        <span class="fact-text">Worldwide Clients</span>
    </div>

</section>

<div class="clients-section">

    <div class="clients-logos">
        <img src="assets/img/upwork.svg" class="client-logo" alt="Upwork">
        <img src="assets/img/petal.svg" class="client-logo" alt="Petal">
        <img src="assets/img/rakuten.svg" class="client-logo" alt="Rakuten">
        <img src="assets/img/nyt.svg" class="client-logo" alt="The New York Times">
        <img src="assets/img/vice.svg" class="client-logo" alt="Vice">
        <img src="assets/img/dell.svg" class="client-logo" alt="Dell">
    </div>

</div>

<section id="services" class="features">

    <h2 class="section-title">What do we offer?</h2>

    <div class="features-grid">
        <div class="feature">
            <img src="assets/img/security-icon.svg" class="feature__icon" alt="Security">
            <div class="feature__badge">
                <h3 class="feature__title">Security Guarantee</h3>
                <p class="feature__text">Your data and funds will be securely protected.</p>
            </div>
        </div>

        <div class="feature">
            <img src="assets/img/dados-icon.svg" class="feature__icon" alt="Investing">
            <div class="feature__badge">
                <h3 class="feature__title">Investing</h3>
                <p class="feature__text">Your data and funds will be securely protected.</p>
            </div>
        </div>

        <div class="feature">
            <img src="assets/img/static-dados.svg" class="feature__icon" alt="Multiple methods">
            <div class="feature__badge">
                <h3 class="feature__title"> Multiple Method</h3>
                <p class="feature__text">Your data and funds will be securely protected.</p>
            </div>
        </div>
    </div>

</section>

<section id="process" class="custom-card">

    <div class="custom-card__info">
        <h2 class="custom-card__heading">Design your personalized credit card.</h2>
        <p class="custom-card__text">You have the freedom to personalize the design of your credit card, ensuring a
            truly unique experience that makes you feel extraordinary</p>

        <button class="button_cta">
            Create New Card
            <img src="assets/img/seta-branca.svg" alt="Arrow Right">
        </button>
    </div>

    <div class="custom-card__visual">
        <img src="assets/img/cartao-2.png" class="custom-card__card-image" alt="Credit card design preview">
    </div>

</section>

<section id="payments" class="card-discovery">

    <div class="card-discovery__media">
        <img src="assets/img/cartao-3.png" class="card-discovery__image" alt="Credit card design preview">
    </div>

    <div class="card-discovery__content">
        <h2 class="card-discovery__title">Find the Perfect Credit Card for You</h2>
        <p class="card-discovery__description">Discover your ideal credit card with ease. Our comprehensive selection
            caters to every financial need and lifestyle. Whether you seek cashback rewards, travel perks, or building
            credit, we have the perfect credit card waiting for you. Unleash the possibilities and find the credit card
            that fits your unique goals and aspirations.</p>
        <button class="button_cta">
            Learn More
            <img src="assets/img/seta-branca.svg" class="card-discovery__cta-icon" alt="Arrow Right">
        </button>
    </div>

</section>

<section id="payments" class="testimonials">

    <div class="testimonials__card">
        <img src="assets/img/coment-icon.svg" class="testimonials__quote-icon" alt="Quote icon">
        <p class="testimonials__quote">"Great session! Dani was super helpful. She shared some practical advice on how
            can lorem ip we go about refining our service offerings."</p>
        <div class="testimonials__author">
            <img src="assets/img/user-1.webp" class="testimonials__avatar" alt="John Doe">
            <div class="testimonials__author-info">
                <h4 class="testimonials__name">John Doe</h4>
                <p class="testimonials__role">UIUX Designer</p>
            </div>
        </div>
    </div>

    <div class="testimonials__card">
        <img src="assets/img/coment-icon.svg" class="testimonials__quote-icon" alt="Quote icon">
        <p class="testimonials__quote">"It's is both attractive and highly adaptable. It's exactly what I've been
            looking for definitely worth the investment."</p>
        <div class="testimonials__author">
            <img src="assets/img/user-2.webp" class="testimonials__avatar" alt="Wade Warren">
            <div class="testimonials__author-info">
                <h4 class="testimonials__name">Wade Warren</h4>
                <p class="testimonials__role">Web Designer</p>
            </div>
        </div>
    </div>

    <div class="testimonials__card">
        <img src="assets/img/coment-icon.svg" class="testimonials__quote-icon" alt="Quote icon">
        <p class="testimonials__quote">"I am really satisfied with it. I'm good to go. It really saves me time and
            effort. It's is exactly what our business has been lacking."</p>
        <div class="testimonials__author">
            <img src="assets/img/user-3.webp" class="testimonials__avatar" alt="Jenny Wilson">
            <div class="testimonials__author-info">
                <h4 class="testimonials__name">Jenny Wilson</h4>
                <p class="testimonials__role">Trust Administrator</p>
            </div>
        </div>
    </div>

</section>

<faq-component id="faqs" ></faq-component>

<section class="cta">

    <div class="cta__content">
        <div class="cta_tag">
            <h2 class="cta__title">Easy Way to manage your finances</h2>
            <p class="cta__description">Easy to use mobile app that support on android and ios.</p>
        </div>
        <div class="cta__buttons">
            <img src="assets/img/app_store.svg" class="cta__store-appstore" alt="Download on the App Store">
            <img src="assets/img/google_play.svg" class="cta__store-googleplay" alt="Get it on Google Play">
        </div>
    </div>

    <div class="cta__media">
        <img src="assets/img/cell.png" class="cta__image" alt="Mobile app interface showcasing easy finance management">
    </div>

</section>

<footer>
    <div class="footer-container container">
        <!-- Coluna 1: Logo e descrição -->
        <div class="footer-column_footer-column--logo">
            <div class="logo-content">
                <a href="/" class="logo-link">
                    <img src="assets/img/logo-greenbank.svg" alt="GreenBank Logo">
                </a>
                <p class="logo-description">Discover the power of our secure and <br>rewarding credit cards</p>
            </div>
        </div>

        <!-- Coluna 2: About us -->
        <div class="footer-column">
            <h3>About us</h3>
            <ul class="footer-links">
                <li><a href="#">Investors</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Book a demo</a></li>
                <li><a href="#">Security</a></li>
            </ul>
        </div>

        <!-- Coluna 3: Products -->
        <div class="footer-column">
            <h3>Products</h3>
            <ul class="footer-links">
                <li><a href="#">Credits Cards</a></li>
                <li><a href="#">Gift Cards</a></li>
                <li><a href="#">Savings accounts</a></li>
                <li><a href="#">NFT</a></li>
            </ul>
        </div>

        <!-- Coluna 4: Useful Links -->
        <div class="footer-column">
            <h3>Useful Links</h3>
            <ul class="footer-links">
                <li><a href="#">Free rewards</a></li>
                <li><a href="#">Documentation</a></li>
                <li><a href="#">Affiliate program</a></li>
            </ul>
        </div>

        <!-- Coluna 5: Social -->
        <div class="footer-column">
            <h3>Social</h3>
            <ul class="footer-links">
                <li><a href="#">Changelog</a></li>
                <li><a href="#">License</a></li>
                <li><a href="#">Site Maps</a></li>
                <li><a href="#">News</a></li>
            </ul>
        </div>
    </div>
</footer>

</div>